.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.coralRedToLilac {
  background: linear-gradient(to right, rgb(254, 74, 74), rgb(70, 70, 150))
}

.coralRedToCerulean {
  background: linear-gradient(to right, rgb(254, 74, 74), rgb(1, 179, 254))
}

.ceruleanToLilac {
  background: linear-gradient(to right, rgb(41, 182, 246), rgb(70, 70, 150))
}

.ceruleanToSeaGreen {
  background: linear-gradient(to right, rgb(1, 179, 254), rgb(0, 106, 45))
}




.yellow {
  background: linear-gradient(to right, red, yellow);
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(0, 200, 83);
}

.blue {
  background-color: rgb(41, 182, 246);
}
